### Soru XXX
Kullanıcının girdiği ad, soyad ve yaş bilgilerini tutan bir dictionary oluşturunuz.
- Kullanıcının ad değerini, büyük harfler ile güncelleyiniz. 
- Kullanıcının yaş değerine 2 ekleyiniz.
- Dictionary'e kullanıcının en sevdiği rengi ekleyiniz key-value şeklinde ekleyiniz.
- Kullanıcının adını ve soyadını kapsayan yeni bir key-value ekleyiniz.
- Kullanıcının ad değerini dictionary'den kaldırınız.

### Soru XXX
Kullanıcının verdiği aralığa göre, key değerleri o anki sayı, value değerleri o anki sayının karesi olan bir dictionary oluşturunuz.

Örnek olarak, kullanıcı aralık olarak 2 ve 7 girmiş olsun. Bizden beklenen dictionary şu şekilde olmalıdır;

```python
{2: 4, 3: 9, 4: 16, 5: 25, 6:36, 7:49}
```

### Soru XXX
Aşağıda verilen liste ile istenilen işlemleri yapınız.
- Yaşı 20'den büyük olanları ekrana yazdırınız.
- Adı 'A' ile başlayanları ekrana yazdırınız.
- Soyadı 'J' ile başlayanları ekrana yazdırınız.
- Adı 'C' ile soyadı 'A' ile başlayanları ekrana yazdırınız.
- Adının içinde 'A' ahrfi geçenleri ekrana yazdırınız.
- Yaşı tek sayı olanları ekrana yazdırınız.
- Kullanının yaşını, (kullanıcının yaşı + kullanıcının soyadının uzunluğu) şeklinde güncelleyiniz.
- Kullanıcının adını ve soyadını içeren FullName adında yeni bir key-value pair oluşturunuz.

In [1]:
myUsers = [
    {
        "Name":"Rosalind",
        "Surname": "Rich",
        "Age": 23
    }
    ,{
        "Name":"Annika",
        "Surname": "Keenan",
        "Age": 28
    }
    ,{
        "Name":"Emillie",
        "Surname": "Plummer",
        "Age": 17
    }
    ,{
        "Name":"Kourtney",
        "Surname": "Pate",
        "Age": 30
    }
    ,{
        "Name":"Virgil",
        "Surname": "Solomon",
        "Age": 40
    }
    ,{
        "Name":"Bobby",
        "Surname": "Jordan",
        "Age":33
    }
    ,{
        "Name":"Alfie",
        "Surname":"James Robson",
        "Age": 16
    } 
    ,{
        "Name":"Isla",
        "Surname":"Grace Tran",
        "Age": 64
    } 
    ,{
        "Name":"Arif",
        "Surname": "Rivas",
        "Age": 43
    }
    ,{
        "Name":"Zakaria",
        "Surname": "Whitehead",
        "Age": 82
    }
    ,{
        "Name":"Casper",
        "Surname": "Velasquez",
        "Age": 57
    }
    ,{
        "Name":"Caoimhe",
        "Surname": "Ali",
        "Age": 34
    }
    ,{
        "Name":"Viola",
        "Surname": "Shepherd",
        "Age": 18
    }
]

### Soru XXX
Kullanıcının girdiği string içerisindeki unique karakterleri ekrana yazdırınız.

### Soru XXX
Verilen iki set için aşağıdaki işlemleri yapınız;
- İki set arasındaki farkı ekrana yazdırınız.
- İki set içerisinde ortak olanları ekrana yazdırınız.
- İki seti birleştirip ekrana yazdırınız.
- İlk set içerisinde olmayıp ikinci set içerisinde olan değerleri ekrana yazdırınız.
- İkinci set içerisinde olmayıp ilk set içerisinde olan değerleri ekrana yazdırınız.

```python
set1 = {True, False, 1, 2, 3, 4, 's', 'i', 's', 't', 'e'}
set2 = {'r', 's', 'l', 'a', 'b', None, 6, 7, 8, 9}
```

### Soru XXX
Kullanıcıdan alınan string ifadedeki karakterlerin kaç kere tekrar ettiğini tutan bir dictionary oluşturunuz.

sisterslab için örnek çıktı şu şekilde olmalıdır 

```python
{'s': 3, 'r': 1, 'e': 1, 'l': 1, 'b': 1, 't': 1, 'a': 1, 'i': 1}
```